/* Import all CSS modules */
@import './styles/global.css';
@import './styles/auth.css';
@import './styles/concerts.css';
@import './styles/modals.css';
@import './styles/profile.css';
@import './styles/artist.css';
