/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

#shows-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#shows-table td, #shows-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#shows-table tr:nth-child(even){background-color: #f2f2f2;}
#shows-table td:nth-child(odd){width: auto}
#shows-table td:nth-child(even){width: 15%}

#shows-table tr:hover {background-color: #ddd;}

#shows-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.concert-details-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it takes the full width */
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

dialog {
    width: 80%; /* Default width */
    max-width: 1200px;
    margin: 0 auto; /* Centering */
}

.concert-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.concert-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.concert-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.concert-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* #modal {
  width: 50%;
  
  h2 {
    text-align: center;
  }
} */


#modal {
  width: 50%;
  /* background: #d3b17b; */
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

#modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

#modal h2 {
  font-size: 1.5rem;
  color: #1aac83;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

#modal form {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#modal form button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
}

#modal form button:hover {
  color: #453719;
}

#modal form button:last-of-type {
  background: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #f9efda;
  font-size: 1rem;
  cursor: pointer;
}

#modal form button:last-of-type:hover {
  background: #382e1b;
}

 
@media screen and (max-width: 768px) {
  dialog {
    min-width: 80%; /* Full width on mobile */
    padding: 0 10px; /* Optional: Add padding to prevent edge touching */
  }
}